
/*NAVIGATION BAR*/
.navbar {
    width: 100%;
    min-height: 2.5em;
    box-shadow: 0 2px 10px 0 #89c2d9; 
  }
   #navigation {
    color: #00798c;
  }
  #navigation:hover {
    color: #C5C6C7;
  } 
  
  .devicon-coffeescript-original {
    font-size: 2.00em;
  }
  .navbar i{
    color: #00798c;
  }
  
  .navbar i:hover {
    color: #C5C6C7;
  }



  /*Hero Image and Styling*/
  #hero-img{
    /*Added rgba for dimming gradient on background images*/
    background-image: linear-gradient(rgba(10, 10, 100, 0.01), rgba(10, 0, 0, 0.03)), url('https://wallpapercave.com/wp/VgkEA9b.jpg');

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    min-height: 35vw; 
    width: 100%;
    box-shadow: 0 6px 5px 0 #83837e; 
    /*Above this is the hero section!*/
  
   
    background-color: white;
    padding: clamp(100px, 20vh, 200px) 0;
  }
  
  #hero-img h2 {
  color: #C5C6C7; 
  font-size: clamp(1.0rem, 6.0vw, 10.0rem);
  text-shadow: 2.5px 2.5px #232525;
  text-align: center;
  }
  #hero-img h3 {
    color: #C5C6C7;
    font-size: clamp(1.0rem, 3.0vw, 8.0rem);
    text-shadow: 2.0px 2.0px #232525;
    text-align: center;
  }

  /*Introduction Section*/
  #intro-section h3 {
    font-size: clamp(1.0rem, 2.75rem, 1026px);
    text-shadow: 1.25px 1.25px #89c2d9;
    letter-spacing: 0.05em;
    text-align: center;
    color: #C5C6C7;
  }
  .intro-p {
    color: #C5C6C7;
    text-shadow: 0.5px 0.5px #89c2d9;
    font-size: clamp(0.5rem, 1.25rem, 3.0rem);
    margin: auto;
    text-align: center;
  }

/*Footer*/
footer {
  text-shadow: 0.25px 0.25px #89c2d9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  color: #C5C6C7;
}
hr {
  border-top: 2.0px solid #C5C6C7;
  box-shadow: 0 2.0px 10px 0 #89c2d9; 
  /* color: #C5C6C7; */
}